body {
  margin: 0;
  overflow : hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.message-body pre {
  background-color: #fff1;
}

/* scrollbar*/
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #f5f5f5;
  border-radius: 10px;
}
.scroll::-webkit-scrollbar {
  width: 10px;
  background: #f5f5f5;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to right, #000000, #434343);
}

.content {
  display: inline-block;
}

/* table */

.fixed-stack, .table-fixed-librarie, .lyric {
  scrollbar-color: #fff #3880ff;
  border-collapse: collapse;
  scrollbar-width: thin;
  overflow-y: scroll;
}

.table-fixed-librarie {
  height: 500px;
}

.fixed-stack {
  height: 450px;
}

.link {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.link:hover {
  color: #000;
}

.link.router-link-exact-active {
  text-decoration: underline;
}

.lyric {
  height: 370px;
}
