@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/IBMPlexMono.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --background-glass: rgba(0, 0, 0, 0.3);
  --light: #f4f5f8;
  --dark: #222428;
}

body {
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  margin: 0;
  overflow : hidden;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--light);
}

delta-navbar {
	position: relative;
	z-index: 1;
}

.form {
  margin-inline: auto;
  width: 80%;
  height: auto;
  padding: 1.3rem;
}

.glass {
  background-color: var(--background-glass);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.47 );
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.input-field {
  border: none;
}

.btn, .input-field-text {
  all: unset;
  width: 100%;
}

.btn, .btn:disabled {
  padding: 0.4375rem 0.5rem;
}

.btn {
  outline: 2px solid #3fc6ab;
  border-radius: 15px;
  text-align: center;
}

.btn:disabled {
  background-color: #ddd;
  outline: none;
}

.input-field-text {
  border-bottom: 1px solid #fff;
}

.input-field-text::placeholder {
  color: #fff;
  padding-bottom: 8px;
}

@media(hover: hover) {
  .btn:hover {
    outline: none;
    background-color: #3fc6ab;
  }
  
  .btn:disabled:hover {
    background-color: #ddd;
  }
}
